:root {
    --back: #32363f;
    --btnWidth: 0;
    --calcWith:
}

html {
    margin:0;
    padding:0;
    border:0;
    outline:0;
}

body {
    background-color: #ccc;
}

ul {
    list-style-type: none;
}

#wrapper {
    width: 87%;
    margin: 0 auto;
    background-color: #888;
    border: solid 1px black;
    border-radius: 10px;
}

.scripted {
    border: solid 1px black;
    border-radius: 10px;
}

#calculator {
    padding: 15px;
}

#display {
    background-color: var(--back);
    height: 8em;
    width: 84.33%;
    margin: 0 auto;
    display: grid;
    grid-template: 
    "eqt-log crt-ttl"
    "dpy-val crt-ttl"
    / 3fr 1fr;
}

#equation-log {
    padding: 0;
    grid-area: 'eqt-log';
    color: #78fffd;
    font-size: 28px;
    margin: 0 5px 0 5px;
    align-self: end;
}

#display-value {
    grid-area: 'dpy-val';
    color: #78fffd;
    font-size: 32px;
    margin: 0 5px 0 5px;
    align-self: end;
}

#current-total {
    grid-area: crt-ttl;
    color: #78fffd;
    font-size: 36px;
    margin: 0 5px 0 5px;
    align-self: end;
}

#buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#functions {
    width: 84.33%;
    background-color: var(--back);
    display: flex;
}

#functions * {
    flex-grow: 1;
}

#undo-btn #clr-btn {
    flex-grow: .8;
    align-self: flex-end;
}

#numpad {
    width: 50%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    grid-area: nums;
    background-color: var(--back);
    display: grid;
    grid-template-areas: 
    "num7 num8 num9"
    "num4 num5 num6"
    "num1 num2 num3"
    "num0 num0 dotbtn";    
}

#operators {
    width: 33.33%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    grid-area: opers;
    background-color: var(--back);
    display: grid;
    grid-template-areas:
    "divbtn multbtn"
    "minbtn addbtn"
    "pobtn   pcbtn" 
    "eqlbtn   eqlbtn";
}

.square_btn{
    display: inline-block;
    position: relative;
    padding: 1.5em 1.75em;
    margin: 0.1em 0.1em;
    text-decoration: none;
    background: #263a96;/*Button Color*/
    color: #ff9a78;
    font-size: 26px;
    border-radius: 10px;
    border-bottom: solid 5px #151d44d8;/*daker than background*/
    border-right: solid 5px #192768d8;/*darker than background*/
}