:root {
    --back: #494c55;
    --display: #67d8fa;
    --btnWidth: 0;
    --calcWith:
    --angle: 8px;
    --angle-o: 4px;
}

html {
    margin:0;
    padding:0;
    border:0;
    outline:0;
}

body {
    background-color: #ccc;
}

ul {
    list-style-type: none;
}

#wrapper {
    width: 67%;
    margin: 0 auto;
}

#calculator {
    padding: 25px;
}

#display {
    border: solid 1px black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #32363f;
    min-height: 8em;
    width: 84.33%;
    margin: 0 auto;
    display: grid;
    grid-template: 
    "eqt-log crt-ttl"
    "dpy-val crt-ttl"
    / 3fr 1fr;
}

#equation-log {
    padding: 0;
    grid-area: 'eqt-log';
    color: #67d8fac4;
    font-size: 2vw;
    margin: 0 5px 0 5px;
    align-self: end;
}

#display-value {
    grid-area: 'dpy-val';
    color: var(--display);
    font-size: 3vw;
    margin: 0 5px 0 5px;
    align-self: end;
}

#current-total {
    grid-area: crt-ttl;
    color: var(--display);
    font-size: 4vw;
    margin: 0 5px 0 5px;
    align-self: end;
}

#buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#functions {
    width: 84.33%;
    background-color: var(--back);
    display: flex;

}

#functions * {
    flex-grow: 1;
}

#undo-btn #clr-btn {
    flex-grow: .8;
    align-self: flex-end;
}

#numpad {
    border-bottom-left-radius: 4%;
    width: 50%;
    grid-area: nums;
    background-color: var(--back);
    display: grid;
    grid-template-areas: 
    "num7 num8 num9"
    "num4 num5 num6"
    "num1 num2 num3"
    "num0 num0 dotbtn";    
}

#operators {
    border-bottom-right-radius: 4%;
    width: 33.33%;
    grid-area: opers;
    background-color: var(--back);
    display: grid;
    grid-template-areas:
    "divbtn multbtn"
    "minbtn addbtn"
    "pobtn   pcbtn" 
    "eqlbtn   eqlbtn";
}

.square_btn {
    flex-shrink: 3;
    display: inline-block;
    position: relative;
    padding: 2vh 2vw;
    margin: 1vh 1.5vw;
    text-decoration: none;
    background: #3047ac;/*Button Color*/
    color: #fad765;
    font-size: 2.4vw;
    border-radius: 8%;
    /* border-bottom: solid 5px #151d44d8;/*darker than background
    border-right: solid 5px #192768d8;/*darker than background */
    transition: all .15s
    linear 0s;
    box-shadow: -0.37vh 0.43vw 0 #151d44d8;
}

:hover.square_btn {
    box-shadow: -0.185vh 0.21vw 0 #151d44d8;
}